
<form action="/edit-profile" method="post">
<button type="submit" class="page-btn">Edit picture</button>


<div class="profile-pics-div">
 <img src="images/osrs_bot-removebg-preview.png" alt="profilepic" class="profile-pic">
 <img src="images/pic_2.jpg" alt="profilepic" class="profile-pic">
 <img src="images/pic_3.jpg" alt="profilepic" class="profile-pic">
 <img src="images/pic_4.jpg" alt="profilepic" class="profile-pic">
 <img src="images/pic_5.jpg" alt="profilepic" class="profile-pic">
 <img src="images/pic_6.jpg" alt="profilepic" class="profile-pic">
</div>

<div class="profile-pics-inputs">
 <input type="radio" name="pic" class="radio-inputs" value="images/osrs_bot-removebg-preview.png" checked>
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_2.jpg">
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_3.jpg">
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_4.jpg">
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_5.jpg">
 <input type="radio" name="pic" class="radio-inputs" value="images/pic_6.jpg">
</div>


</form>