<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/"><img src="/images/logo2.png" alt="logo"></a>
      <h1>SomeName</h1>
      <form action="/search" method="post">
        <input type="text" name="game" id="game">
        <button type="submit">search</button>
      </form>
      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/profile">{{username}} Profile</a>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>