*{
  margin: 0
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

h1 {
  color: 15px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  padding: 1vh;
}

nav img {
  width: 10vh
}

.container{
  display: flex;
  flex-wrap: wrap;
}