@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}

body {
  /* padding: 50px; */
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1b2141;
 
}


/* .container-fluid{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:#050e2d ;
  
} */


/* .navigation{
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  

}

.navbar-nav{
  text-decoration: none;
  color: #BABFCA;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  padding:1.5vh 1vw;
  border-radius: 10px;
  
}

.navbar-nav li:hover{
  background: #3E7797 ;
  color: #050e2d;
  box-shadow: 0 0 10px #3E7797;
}

.search{
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  outline:none;
  border:none;

}
.search_button{
  border-radius: 0.5em;
  font-size: 1.1em;
  color: #222;
  background-color: #1b2141;
  border: none;
  width: 2.2em;
  height: 2.2em;
  font-family: 'Poppins', sans-serif;
  
  
}
.search_input{
  outline:none;
  border:none;
  font-size: 1em;
  color: #222;
  font-family: 'Poppins', sans-serif;
  
}
.image_search{
  width: 2.2em;
}
.image_search:hover{
  width: 2.2em;
  background: #3E7797 ;
  color: #050e2d;
  box-shadow: 0 0 20px #3E7797;
  border-radius: 5px;
} */



.navigation{
  background-color: #202A5A;
}
.navbar-nav{
  display: flex;
  justify-content:end;
  align-items: center;
  width: 90vw;
  font-family: 'Poppins', sans-serif;
  
}

.image_search{
  width: 1.7em;
}
.image_search:hover{
  width: 2.2em;
  background: #3E7797 ;
  color: #050e2d;
  box-shadow: 0 0 20px #3E7797;
  border-radius: 5px;
} 


.home_page_body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_text{
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #90ECF4;
  
}

#carouselExampleSlidesOnly{
  width: 40vw;
  height: 350px;
}

/* .carousel-inner > .item > img {
margin: 0 auto;
} */


@media (max-width:400px) {
  #carouselExampleSlidesOnly{
    max-width: 300px;
  }
  .main_text{
    width: 300px;
    
  }
  .home_page_body > .row{
    width:100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
/*   #navbarNavAltMarkup{
    display: block;
  } */
}
